$navcolor:#563d7c;
$navlinks:#cbbde2;
$subcolor:#0042a2;
$sublight:#0042a2d6;
$goldcolor:gold;
$whitecolor:#fff;
$wheatcolor:#fef4e2;
$lightwheat:#d4d4b8;
$groubcolor:#e9ecef;
$pepsicolor:#02102a;
$blackcolor:#000;
$transcolor:#ffffffa1;
$fulltrans:transparent;
$highlayer:500;
$toplayer:1000;
$lowlayer:1;
$mainsize:1.3rem;
$subsize:1.2rem;
$largesize:1.5rem;
$normalsize:1rem;
$hugesize:2rem;
$menuheight:100%;